@reference "../../styles/globals.css";

/* Footer Component Styles */

.footer {
  @apply px-3 relative overflow-hidden;
}

.footerStyleOne {
  @apply bg-center bg-cover bg-no-repeat pt-17 bg-fixed overflow-hidden;
}

.socialIcon {
  @apply flex shrink-0 justify-center mr-3 items-center text-dark-1 bg-white h-9 w-9 lg:h-10 lg:w-10 text-md rounded-full lg:shadow-[0_0_0_5px_#ffffff66] shadow-[0_0_0_3px_#ffffff66] lg:group-hover:shadow-[0_0_0_7px_#E8604C4d] group-hover:shadow-[0_0_0_4px_#E8604C4d] group-hover:bg-primary-1 group-hover:text-white transition-all duration-300 ease-in lg:mr-4;
}

.footerNavLink {
  @apply text-stock-1 relative font-medium lg:text-base text-sm leading-1_8 inline-block duration-200 hover:text-primary-1;
}

.footerLinkList li {
  @apply mt-[14px] first:mt-0;
}

.gradientBorderTop {
  @apply relative before:content-[''] before:absolute before:w-full before:h-[2px] before:top-0 before:left-0 before:bg-footer-border;
}
